# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
ragas_env/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Chroma DB
chroma_db/

# Ollama Models
models/

# Build
build/
dist/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Streamlit
.streamlit/secrets.toml

data/raw/