langchain==1.3.13
langchain-chroma==1.1.0
langchain-community==0.4.2
langchain-core==1.4.9
langchain-huggingface==1.2.2
langchain-ollama==1.1.0

chromadb==1.5.9

sentence-transformers==5.6.0
transformers==5.14.0
torch==2.13.0

pypdf==6.14.2
pandas==3.0.3
openpyxl
numpy==2.5.1

ollama==0.6.2

tqdm